* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: medium;
  line-height: 160%;
  background-image: url(images/floor.jpg);
  height: 100vh;
  width: 100vw;
}

header {
  background-color: #007a33;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;  
  border-top: medium solid white;
  border-bottom: medium solid white;
  width: 100vw;
  padding: 20px;
  margin-bottom: 20px;
  
}

h1 {
  padding-bottom: 20px;
}

.logo-2 {
  display: none;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.section-1 {
  background-color: #007a33;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: white;
  padding: 20px;
  margin: 0px 20px 0px 20px;
  border: medium solid white;
  border-radius: 20px;
  box-shadow: 10px 10px 10px 5px black;
}

.section-1 img {
  border: medium solid white;
  border-radius: 20px;
  max-width: 100%;
  height: auto;
}

.section-1 p {
  text-align: center;
}

.section-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  margin: 0px 20px 0px 20px;
  border: medium solid white;
  border-radius: 20px;
  box-shadow: 10px 10px 10px 5px black;
  background-color: #007a33;
}

.section-2 h2 {
  text-align: center;  
}

.section-2-list {
  padding-left: 20px;
}

.section-2-list li {
  padding-bottom: 10px;
}

.inline-list {
  list-style-position: inside;
}

blockquote {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: medium solid white;
  border-radius: 20px;
  padding: 20px;
  margin: 0px 20px 0px 20px;
  background-color: #007a33;
  color: white;
  font-style: italic;
  text-align: center;
  box-shadow: 10px 10px 10px 5px black;
}

.larry {
  align-self: flex-end;
}

footer {
  background-color: #007a33;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  gap: 20px;
  width: 100vw;
  padding: 20px;
  margin-top: 20px;  
  border-top: medium solid white;
  border-bottom: medium solid white;
  font-size: 80%;
}

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
}

a:hover {
  background-color: white;
  color: #007a33;
  font-weight: 600;
  padding: 10px;
  border-radius: 10px;

}

@media (min-width: 768px) {

  body {
    font-size: 120%;
  }

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    margin-bottom: 40px;
  }

  .logo-2 {
    display: block;
  }

  main {
    gap: 40px;
  }

  blockquote, .section-1, .section-2 {
    gap: 40px;
    padding: 40px;
    margin: 0px 40px 0px 40px;
    box-shadow: 20px 20px 20px 10px black;
  }

  footer {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
    padding: 40px;
    margin-top: 40px;
  }

}  