* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif
  font-size: medium;
  line-height: 160%;
  background-color: #007a33;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;  
  border-top: medium solid white;
  border-bottom: medium solid white;
  font-size: 130%;
  padding: 20px;
}

h1 {
  font-size: 250%;
  padding-bottom: 20px;
  line-height: 100%;
}

.logo-2 {
  display: none;
}

header p {
  font-size: 120%;
  
}

.section-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(images/floor.jpg);
  color: black;
  padding: 20px;
}

.section-1 img {
  border: medium solid white;
  border-radius: 20px;
  max-width: 100%;
  height: auto;
}

.section-1 p {
  text-align: center;
  font-size: 120%;
  padding-top: 20px;
  font-weight: 500;
}

.section-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: 100%;
  border-top: medium solid white;
  border-bottom: medium solid white;
}

.section-2 h2 {
  font-size: 150%;
  line-height: 110%;
  text-align: center;
}

.section-2-list {
  padding: 20px;
  width: auto;
}

.section-2-list li {
  padding-bottom: 10px;
}

.inline-list {
  list-style-position: inside;
}

blockquote {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: auto;
  border: thin solid white;
  border-radius: 20px;
  padding: 20px;
  background-image: url(images/floor.jpg);
  color: black;
  font-weight: 500;
  text-align: center;
}

.larry {
  align-self: flex-end;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  text-align: center;
  padding: 20px;
  border-bottom: medium solid white;
}

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
}

a:hover {
  background-color: white;
  color: #007a33;
  font-weight: 600;
  padding: 10px;
  border-radius: 10px;

}

@media (min-width: 800px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
  }

  .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  h1 {
    font-size: 300%;
  }

  .title p {
    font-size: 150%;
  }
  
  .logo-2 {
    display: block;
  }

  .section-1 {
    padding: 40px;
    font-size: 125%;
  }

  .section-2 {
    padding: 40px;
  }

  .section-2 h2 {
    font-size: 200%;
  }

  .section-2-list {
    padding: 40px 0px 30px 0px;
    font-size: 125%;
  }

  li {
  }

  blockquote {
    padding: 40px;
    font-size: 125%;
  }


  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px 80px 40px 80px;
  }

}