* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif
  font-size: medium;
  line-height: 160%;
  background-color: #007a33;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: medium solid white;
  border-bottom: medium solid white;
  font-size: 130%;
}

h1 {
  font-size: 300%;
  padding: 40px 0px 20px 0px;
}

header p {
  font-size: 120%;
  padding: 20px 0px 40px 0px;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  background-image: url(images/floor.jpg);
  color: black;
  padding: 20px;
}

.section-1 img {
  border: medium solid white;
  border-radius: 20px;
  max-width: 100%;
  height: auto;
}

.section-1 p {
  font-size: 130%;
  padding-top: 20px;
  font-weight: 500;
}

.section-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  font-size: 120%;
  border-top: medium solid white;
  border-bottom: medium solid white;
}

.section-2 h2 {
  font-size: 180%;
}

.section-2-list {
  padding: 40px;
  width: 500px;
}

.section-2-list li {
  padding-bottom: 10px;
}

.inline-list {
  list-style-position: inside;
}

.inline-list li {
  padding: 0px;
}

blockquote {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: auto;
  border: thin solid white;
  border-radius: 20px;
  padding: 40px;
  background-image: url(images/floor.jpg);
  color: black;
  font-weight: 500;
}

.larry {
  align-self: flex-end;
}

footer {
  display: flex;
  justify-content: space-around;
  padding: 40px;
  border-bottom: medium solid white;
}